# Quilt: a data package manager
- Document(get-started): https://docs.quiltdata.com/

## install
- pip install quilt

## download
- quilt install USR/PKG ... (ex. quilt install uciml/iris)

## upload
- quilt build USR/PKG DIRECTORY ... (ex. quilt build haradai1262/test quilt_youtuber)
- quilt login
- quilt push USR/PK --public

## frequent command
- quilt ls
- quilt build USR/PKG DIRECTORY
- quilt push USR/PKG --public
- quilt build USR/PKG BUILD.YML
- quilt generate DIR

# 1. overvierw of concept
<img src="https://raw.githubusercontent.com/quiltdata/resources/master/img/big-picture.png" alt="overview" width="500px"/>

## 2. import a downloaded dataset

In [1]:
from quilt.data.uciml import iris

In [2]:
iris

<PackageNode 'C:\\Users\\daichi\\AppData\\Local\\QuiltData\\QuiltCli\\quilt_packages\\pkgs\\Quilt\\uciml\\iris'>
raw/
tables/
README

In [3]:
df = iris.tables.iris()
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## 3. download a dataset in python

In [4]:
import quilt
quilt.install("uciml/wine")

Downloading package metadata...
uciml/wine already installed.
Fragments already downloaded

In [5]:
from quilt.data.uciml import wine
wine

<PackageNode 'C:\\Users\\daichi\\AppData\\Local\\QuiltData\\QuiltCli\\quilt_packages\\pkgs\\Quilt\\uciml\\wine'>
raw/
tables/
README

In [6]:
df = wine.tables.wine()
df.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

## 4. Edit a dataset

### insert a dataframe at wine.mygroup.data()

In [7]:
# add pakage nodes
import pandas as pd;df = pd.DataFrame(dict(x=[1, 2, 3]))
wine._set(["mygroup", "data"], df) 
wine

<PackageNode 'C:\\Users\\daichi\\AppData\\Local\\QuiltData\\QuiltCli\\quilt_packages\\pkgs\\Quilt\\uciml\\wine'>
mygroup/
raw/
tables/
README

In [8]:
wine.mygroup.data()

   x
0  1
1  2
2  3

### insert a file at wine.mygroup.anothergroup.blob()

In [9]:
wine._set(["mygroup", "anothergroup", "blob"], "localpath/file.txt") #

### edit metadata

In [10]:
import time
wine.mygroup._meta['foo'] = 'bar'
wine.mygroup._meta['created'] = time.time()

In [11]:
wine.mygroup._meta

{'created': 1530498076.2483215, 'foo': 'bar'}

In [12]:
quilt.install("haradai1262/test")
from quilt.data.haradai1262 import test
df = test.test()

Downloading package metadata...
haradai1262/test already installed.
Fragments already downloaded

In [14]:
df.head(1)

,Unnamed: 0,id,title,description,liveBroadcastContent,tags,publishedAt,thumbnails,viewCount,likeCount,favoriteCount,dislikeCount,commentCount,caption,definition,dimension,duration,projection,TopicIds,relevantTopicIds
0,0,IoPEHz9HcK4,好きな人ができてしまいました。。ゆきりぬ先生の質問相談コーナー,少しでも良いと思ってもらえたら高評価おねがいします٩(๑❛ᴗ❛๑)۶ \r\n\r\n\r\...,none,"['ゆきりぬ', 'YouTube', 'YouTuber', 'ゆーちゅーぶ', 'ゆーち...",2018-06-26T11:37:06.000Z,https://i.ytimg.com/vi/IoPEHz9HcK4/default.jpg,42115,1764,0,112,396,False,hd,2d,PT10M13S,rectangular,NaN,"['/m/04rlf', '/m/02jjt', '/m/02jjt']"

## 5. upload a dataset in python
※ pythonで_set, _meta使いながら編集したほうがディレクトリ管理よりやりやすい

In [15]:
quilt.build("haradai1262/test2")
from quilt.data.haradai1262 import test2
test2._set(['data'], df)

In [16]:
test2.data().head(1)

,Unnamed: 0,id,title,description,liveBroadcastContent,tags,publishedAt,thumbnails,viewCount,likeCount,favoriteCount,dislikeCount,commentCount,caption,definition,dimension,duration,projection,TopicIds,relevantTopicIds
0,0,IoPEHz9HcK4,好きな人ができてしまいました。。ゆきりぬ先生の質問相談コーナー,少しでも良いと思ってもらえたら高評価おねがいします٩(๑❛ᴗ❛๑)۶ \r\n\r\n\r\...,none,"['ゆきりぬ', 'YouTube', 'YouTuber', 'ゆーちゅーぶ', 'ゆーち...",2018-06-26T11:37:06.000Z,https://i.ytimg.com/vi/IoPEHz9HcK4/default.jpg,42115,1764,0,112,396,False,hd,2d,PT10M13S,rectangular,NaN,"['/m/04rlf', '/m/02jjt', '/m/02jjt']"

In [17]:
quilt.login()

Launching a web browser...
If that didn't work, please visit the following URL: https://pkg.quiltdata.com/login

In [18]:
quilt.push("haradai1262/test2", is_public=True)

Fetching upload URLs from the registry...
Uploading 0 fragments (0 bytes before compression)...

0.00B [00:00, ?B/s]

Uploading package metadata...
Updating the 'latest' tag...
Push complete. haradai1262/test2 is live:
https://quiltdata.com/package/haradai1262/test2